{% extends 'base.html.twig' %}
{% block title %}Quiz site{% endblock %}
{% block body %}
    <blockquote class="blockquote text-center">
        <h1>Successfully update!</h1>
    </blockquote>
    <blockquote class="blockquote text-center">
        <a class="btn btn-primary btn-lg"
           href="{{ path('admin_page') }}"
           role="button">Back to admin page</a>
    </blockquote>

{% endblock %}
